Repository debionetwork/debio-node, pull requests merged in 2022-04, with the labels that each got.

#309 ci: add pruning archive node
  .github/workflows/deployer.yml
Labels: ci

#313 feat: genetic analyst and lab migrations
  Cargo.lock
  pallets/genetic-analysts/src/lib.rs
  pallets/genetic-analysts/src/migrations.rs
  pallets/labs/Cargo.toml
  pallets/labs/src/interface.rs
  pallets/labs/src/lib.rs
  pallets/labs/src/migrations.rs
Labels: improvement

#316 feat: enhance genetic analysis orders cancellation feature
  .github/CODEOWNERS
  pallets/genetic-analysis-orders/src/lib.rs
  pallets/genetic-analysis-orders/src/tests.rs
  pallets/genetic-analysis/src/lib.rs
  pallets/genetic-analysis/traits/src/lib.rs
Labels: enhancement, test

#317 feat: set genetic analysis order status refunded on cancel and refund
  pallets/genetic-analysis-orders/src/lib.rs
  pallets/genetic-analysis-orders/src/tests.rs
Labels: enhancement, test, feature

#318 feat: add service charge to genetic analysis order
  pallets/genetic-analysis-orders/src/lib.rs
  pallets/genetic-analysis-orders/src/tests.rs
  pallets/genetic-analysts/tests/src/lib.rs
Labels: enhancement, test

#319 refactor: external trait dependencies
  Cargo.lock
  pallets/certifications/Cargo.toml
  pallets/certifications/benchmarking/Cargo.toml
  pallets/certifications/tests/Cargo.toml
  pallets/certifications/traits/Cargo.toml
  pallets/certifications/traits/src/lib.rs
  pallets/doctor-certifications/Cargo.toml
  pallets/doctor-certifications/benchmarking/Cargo.toml
  pallets/doctor-certifications/tests/Cargo.toml
  pallets/doctor-certifications/traits/Cargo.toml
  pallets/doctor-certifications/traits/src/lib.rs
  pallets/doctors/Cargo.toml
  pallets/electronic-medical-record/Cargo.toml
  pallets/electronic-medical-record/traits/Cargo.toml
  pallets/electronic-medical-record/traits/src/lib.rs
  pallets/genetic-analysis-orders/Cargo.toml
  pallets/genetic-analysis-orders/benchmarking/Cargo.toml
  pallets/genetic-analysis/benchmarking/Cargo.toml
  pallets/genetic-analysis/tests/Cargo.toml
  pallets/genetic-analysts/Cargo.toml
  pallets/genetic-analysts/benchmarking/Cargo.toml
  pallets/genetic-analysts/tests/Cargo.toml
  pallets/genetic-testing/Cargo.toml
  pallets/genetic-testing/benchmarking/Cargo.toml
  pallets/genetic-testing/benchmarking/src/lib.rs
  pallets/genetic-testing/tests/Cargo.toml
  pallets/genetic-testing/tests/src/lib.rs
  pallets/genetic-testing/traits/Cargo.toml
  pallets/genetic-testing/traits/src/lib.rs
  pallets/hospital-certifications/Cargo.toml
  pallets/hospital-certifications/benchmarking/Cargo.toml
  pallets/hospital-certifications/tests/Cargo.toml
  pallets/hospital-certifications/traits/Cargo.toml
  pallets/hospital-certifications/traits/src/lib.rs
  pallets/hospitals/Cargo.toml
  pallets/labs/Cargo.toml
  pallets/labs/benchmarking/Cargo.toml
  pallets/labs/tests/Cargo.toml
  pallets/labs/tests/src/lib.rs
  pallets/orders/Cargo.toml
  pallets/orders/benchmarking/Cargo.toml
  pallets/orders/benchmarking/src/lib.rs
  pallets/orders/src/lib.rs
  pallets/orders/src/tests.rs
  pallets/orders/traits/Cargo.toml
  pallets/orders/traits/src/lib.rs
  pallets/services/Cargo.toml
  pallets/services/benchmarking/Cargo.toml
  pallets/services/benchmarking/src/lib.rs
  pallets/services/src/lib.rs
  pallets/services/tests/Cargo.toml
  pallets/services/tests/src/lib.rs
  pallets/services/traits/Cargo.toml
  pallets/services/traits/src/lib.rs
  pallets/user-profile/Cargo.toml
  pallets/user-profile/traits/Cargo.toml
  pallets/user-profile/traits/src/lib.rs
Labels: improvement, refactor
